
.container__banner  {
    width: 100%;
    height: 500px;
    background: url('../../media/image/banner.jpg') no-repeat center/cover;
}   
/* ------------------beign Slider--------------------- */
main{
    width: min(1200px, 90vw);
    margin: auto;
}
.slider{
    width: 100%;
    height: 30px;
    overflow: hidden;
    mask-image: linear-gradient(
        to right,
        transparent,
        #000 10% 90%,
        transparent
    );
}
.slider .list{
    display: flex;
    width: 100%;
    min-width: calc(var(--width) * var(--quantity));
    position: relative;
}
.slider .list .item{
    width: var(--width);
    height: 30px;
    position: absolute;
    left: 100%;
    animation: autoRun 10s linear infinite;
    transition: filter 0.5s;
    animation-delay: calc( (10s / var(--quantity)) * (var(--position) - 1) - 10s)!important;
}
.slider .list .item img{
    width: 100%;
    height: 30px;
}
@keyframes autoRun{
    from{
        left: 100%;
    }to{
        left: calc(var(--width) * -1);
    }
}

.slider[reverse="true"] .item{
    animation: reversePlay 10s linear infinite;
}
@keyframes reversePlay{
    from{
        left: calc(var(--width) * -1);
    }to{
        left: 100%;
    }
}

/* ------------------end Slider--------------------- */

.About-container {
    width: 80%;
    margin: 0 auto;
    padding: 50px 0;
}

h3 {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    color: #ff6600;
    margin-bottom: 20px;
}

.about-img {
    text-align: center;
    margin-bottom: 30px;
}

.about-img img {
    max-width: 150px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.about-info {
    background-color: #fff;
    border-radius: 15px;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.about-info h1, .about-info h2 {
    font-family: 'Arial', sans-serif;
    color: #333;
}

.about-info h1 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px;
}

.about-info h2 {
    font-size: 22px;
    font-weight: normal;
    color: #666;
    margin-bottom: 10px;
}

.about-info b {
    font-weight: bold;
    color: #666;
}

.about-info ul {
    margin-left: 20px;
}

.about-info ul li {
    margin: 5px 0;
    font-size: 18px;
}